<header class="site-header">

  <h1 class="site-title">
    <a href="{{ site.baseurl }}/" title="Home page"><img class="site-logo" src="{{ site.baseurl }}/assets/img/logo.svg"></a>
  </h1>




  <nav class="site-nav">

    <!--Day/Night Toggle-->
    <div class="toggleWrapper">


      <input type="checkbox" class="dn" id="dn" onchange="toggleLightDark()"/>
      <label for="dn" class="toggle">
      <span class="toggle__handler">
          <span class="crater crater--1"></span>
          <span class="crater crater--2"></span>
          <span class="crater crater--3"></span>
      </span>
          <span class="star star--1"></span>
          <span class="star star--2"></span>
          <span class="star star--3"></span>
          <span class="star star--4"></span>
          <span class="star star--5"></span>
          <span class="star star--6"></span>
      </label>
    </div>


    {% for link in site.navigation %}
      {% assign current = nil %}
      {% if page.url contains link.url %}
        {% assign current = 'class="current"' %}
      {% endif %}
    <a href="{{ link.url | prepend: site.baseurl }}" {{ current }} {% if link.desc %} title="{{ link.desc }}" {% endif %}>{{ link.title }}</a>
    {% endfor %}




  </nav>

</header>
<!-- site-header -->
