
// TOGGLE BUTTON


.toggleWrapper {
  overflow: hidden;
  padding: 0 40px;
  position: relative;

  input {
    position: absolute;
    left: -99em;
  }
}

.toggle {
  cursor: pointer;
  display: inline-block;
  position: relative;
  width: 40px;
  height: 24px;
  background-color: #83D8FF;
  border-radius: 40px - 6;
  transition: background-color 1ms cubic-bezier(0.445, 0.05, 0.55, 0.95);

  &:before {
    content: 'AM';
    position: absolute;
    left: -30px;
    font-size: 18px;
    color: $blue-dark;
  }

  &:after {
    content: 'PM';
    position: absolute;
    right: -30px;
    font-size: 18px;
    color: $blue-light;
  }
}

.toggle__handler {
  display: inline-block;
  position: relative;
  z-index: 1;
  //top: 3px;
  //left: 3px;
  width: 24px - 6;
  height: 24px - 6;
  background-color: #FFCF96;
  border-radius: 24px;
  box-shadow: 0 2px 6px rgba(0,0,0,.3);
  transition: all 1ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transform:  rotate(-45deg);

  .crater {
    position: absolute;
    background-color: #E8CDA5;
    opacity: 0;
    transition: opacity 1ms ease-in-out;
    border-radius: 100%;
  }

  .crater--1 {
    top: 8px;
    left: 1px;
    width: 2px;
    height: 2px;
  }

  .crater--2 {
    top: 10px;
    left: 9px;
    width: 4px;
    height: 4px;
  }

  .crater--3 {
    top: 2px;
    left: 8px;
    width: 6px;
    height: 6px;
  }
}

.star {
  position: absolute;
  background-color: #ffffff;
  transition: all 1ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  border-radius: 50%;
}

.star--1 {
  top: 1px;
  left: 15px;
  z-index: 0;
  width: 10px;
  height: 3px;
}

.star--2 {
  top: 8px;
  left: 10px;
  z-index: 1;
  width: 25px;
  height: 3px;
}

.star--3 {
  top: 17px;
  left: 20px;
  z-index: 0;
  width: 17px;
  height: 3px;
}

.star--4,
.star--5,
.star--6 {
  opacity: 0;
  transition: all 1ms 0 cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.star--4 {
  top: 16px;
  left: 11px;
  z-index: 0;
  width: 2px;
  height: 2px;
  transform: translate3d(3px,0,0);
}

.star--5 {
  top: 11px;
  left: 12px;
  z-index: 0;
  width: 3px;
  height: 3px;
  transform: translate3d(3px,0,0);
}

.star--6 {
  top: 3px;
  left: 8px;
  z-index: 0;
  width: 2px;
  height: 2px;
  transform: translate3d(3px,0,0);
}

input#dn:checked {
  + .toggle {
    background-color: #749DD6;

    &:before {
      color: $blue;
    }

    &:after {
      color: $gray-lightest;
    }

    .toggle__handler {
      background-color: #FFE5B5;
      transform: translate3d(20px, 0, 0) rotate(0);

      .crater { opacity: 1; }
    }

    .star--1 {
      width: 2px;
      height: 2px;
    }

    .star--2 {
      width: 4px;
      height: 4px;
      transform: translate3d(-5px, 0, 0);
    }

    .star--3 {
      width: 2px;
      height: 2px;
      transform: translate3d(-7px, 0, 0);
    }

    .star--4,
    .star--5,
    .star--6 {
      opacity: 1;
      transform: translate3d(0,0,0);
    }
    .star--4 {
      transition: all 1ms 1ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
    }
    .star--5 {
      transition: all 1ms 1ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
    }
    .star--6 {
      transition: all 1ms 1ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
    }
  }
}

