<!DOCTYPE html>

  {% include head.html %}

  <body id="body" class="light-mode">


    <div id="site" class="site">

      {% include header.html %}

      <div class="site-content">
        {{ content }}
      </div>
      <!-- site-content -->

      {% include footer.html %}

    </div>

  </body>

</html>
